@import url(./style.css);

.newheader {
    background: var(--fourth-color);
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 3px rgba(20, 20, 20, 0.1);

    .newhead {
        width: 90%;
        margin: auto;
        border: 0;
        padding: 10px 20px;
        border-radius: 100px;
    }

    .left {
        margin: auto 0;
        max-width: fit-content;

        p {
            font-size: 30px;
            line-height: 1;
            font-weight: 700;
        }
    }

    .right {
        margin: auto 0;
    }

    .headcol {
        margin: auto 0;
    }
}

.navigate {
    margin: auto 0;

    ul {
        display: flex;
        list-style-type: none;
        gap: 10px;
        margin-bottom: 0;
        background-color: transparent;
        justify-content: center;
    }

    nav ul li a.active {
        border-color: var(--primary-color) !important;
        color: var(--primary-color) !important;
    }

    a {
        color: var(--fifth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
    }

    li {
        background-color: transparent;
        margin: 0;
        padding: 0 5px;
        cursor: pointer;
    }

    li:hover {
        a {
            color: var(--primary-color) !important;
        }
    }
}

form {
    ::placeholder {
        color: #676767;
        font-size: 15px;
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }
}

.contentonly {
    li {
        line-height: 1.5;
        margin-left: 40px;
    }

    hr {
        margin-block: 10px;
    }
}

footer {
    background-color: #eee;

    .foot {
        background-color: var(--fifth-color);
        text-align: center;
        padding-block: 15px;

        p {
            color: #fff;
        }
    }
}

.floatwp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    i {
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.1);
        font-size: 35px;
        padding: 5px;
        border-radius: 100%;
        background-color: #01BF01;
        padding: 15px 18px;
        color: var(--fourth-color);
    }
}

.banner {
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url(/images/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;

    .contactrow {
        top: 0;
        left: 0;
        background-color: rgba(20, 20, 20, 0.6);
        text-align: center;
        border-top: 1px solid var(--primary-color);
        padding-block: 15px;

        p {
            font-size: 20px;
            color: var(--fourth-color);
        }
    }

    .intropara {
        color: var(--fourth-color);
        font-size: 21px;
    }

    h1 {
        border-bottom: 1.5px solid var(--primary-color);
        width: fit-content;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
}

.experties {
    text-align: center;

    .grid {
        margin-block: 15px;

        div {
            cursor: pointer;
            padding: 25px;
        }

        div:hover {
            box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.1);
            background-color: #eee;
            border-radius: 15px;
        }

        i {
            background: linear-gradient(45deg, var(--primary-color), var(--third-color));
            padding: 15px;
            border-radius: 10px;
            color: var(--fourth-color);
            margin-bottom: 15px;
        }
    }
}

.Habout {
    img {
        width: 100%;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
        border-radius: 10px;
    }

    .column {
        margin: auto 0;
    }

    .row {
        padding-top: 0;
    }

    h2 {
        border-bottom: 2px solid var(--primary-color);
        width: fit-content;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}

.reason {
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url(../images/turning-machine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2,
    h3,
    p {
        color: var(--fourth-color);
    }

    .column {
        text-align: center;
    }

    hr {
        border-color: var(--third-color);
        width: 175px;
        margin: auto;
        border-radius: 10px;
        border: 2px solid var(--third-color);
    }

    .slider-container1 {
        position: relative;
        overflow: hidden;
    }
    
    .slider1 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 15px;
        padding: 5px;
    }
    
    .slide1 {
        min-width: 100%;
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(20, 20, 20, 0.5);
        text-align: center;
    }

    .prev-btn1,
    .next-btn1 {
        background-color: rgba(255, 83, 23, 0.6);
        color: white;
        border: none;
        padding: 5px 12px;
        border-radius: 5px;
        cursor: pointer;
        width: fit-content;
        z-index: 99;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }
}

.offers {
    h3 {
        border: 1px solid var(--third-color);
        border-radius: 10px;
    }

    span {}

    i {
        background-color: var(--primary-color);
        border-radius: 10px 0 0 10px;
        padding: 10px;
    }
}

.steps {
    i {
        border: 1px solid var(--third-color);
        border-radius: 100px;
        padding: 15px 20px;
        background-color: #eee;
    }
}